<!--<header>-->
    <!--<div id="topbar">-->
        <!--<h1><a href ng-click="viewHome()">Chitter</a></h1>-->
        <!--<form action="#" method="get" id="search_form">-->
            <!--<fieldset>-->
                <!--<input type="text" name="search" class="search-input "/>-->
                <!--&lt;!&ndash;<input type="submit" value="search" />&ndash;&gt;-->
            <!--</fieldset>-->
        <!--</form>-->
        <!--<nav>-->
            <!--<ul>-->
                <!--<li><a href ng-click="viewHome()">Home</a></li>-->
                <!--<li><a href="#">Connect</a></li>-->
                <!--<li><a href="#">Discover</a></li>-->
                <!--<li><a href ng-click="viewUserHome(user._id)">Me</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
<!--</header>-->
<header>
    <nav>
        <ul>
            <li><a href ng-click="viewHome()">Home</a>|</li>
            <li><a href ng-click="viewUserHome(user._id)">Me</a>|</li>
            <li><a href="#">Sign out</a></li>
        </ul>
    </nav>
</header>
<div style="clear:both;"></div>
<section>
    <!--<p ng-click="addUser()">add user</p>-->
    <div id="timeline">
        <div class="header_inner">
            <h2>Chitts</h2>
            <button type="submit" class="btn button_green" ng-click="open()">Chitt</button>
            <!--<div class="btn_tweet_wrapper" ng-click="open()">-->

                <!--&lt;!&ndash;<button class="btn_tweet" type="button" ng-click="open()" />&ndash;&gt;-->
            <!--</div>-->
            <!--<input id="edit-submit-presentations" class="form-submit" type="submit" value="Search" name="">-->
        </div>
        <ul>
            <li class="tweet_wrapper" ng-class="{top_border: $first, last: $last}" ng-repeat="tweet in tweets">
                <img class="avatar" ng-src="../../assets/images/avatars/{{ tweet.user._id }}.png" width="48" height="48" alt="avatar">
                <div class="content">
                    <a href ng-click="viewUser(tweet.user._id)" class="name">{{tweet.user.name}}</a> <span class="username">{{tweet.user._id}}</span>
                    <p>{{tweet.text}}</p>
                    <span class="time clear">{{tweet.creationDate | date:'medium'}}</span>
                    <a ng-show="tweet.canBeDeleted" class="time clear pull-right" href ng-click="deleteTweet(tweet._id)">Delete Chitt</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="dashboard">
        <div class="box" style="height: 126px;">
            <img class="avatar" ng-src="../../assets/images/avatars/{{ user._id }}.png" width="48" height="48" alt="avatar">
            <div class="content">
                <span>Name: {{user.name}}</span><br>
                <span>Username: @{{user._id}}</span><br>
                <span>Chitts: {{user.totalTweets}}</span><br>
            </div>
        </div>

        <div class="box">
            <ul class="clearfix">
                <li>&copy; 2013 Chitter</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Advertisers</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Businesses</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</section>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
              <h4 class="modal-title">What's happening?</h4>
            </div>
            <div class="modal-body">
                <textarea id="tweetMessage" class="modal-tweet-box" ng-model="text"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok(text)">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>


