body {
    color: #fff;
    background: url(../images/bg_body2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul{padding: 0}
ul li{list-style: none outside none;}
input {
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
textarea {
    width: 100%;
    height: 80px;
}
#login-signup-wrapper {
    left: 50%;
    position: fixed;
    top: 50%;
    margin-top: -175px;
    margin-left: -150px;
}
#login, #signup {
    height: 108px;
    width: 300px;
    /*background: white;*/
    /*border: 1px solid #6fa3c4;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
    /*background: #fff;*/
    /*background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));*/
    /*background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);*/
    /*background: -moz-linear-gradient(top,#fff 0,#ddd 100%);*/
    /*background: -ms-linear-gradient(top,#fff 0,#ddd 100%);*/
    /*background: -o-linear-gradient(top,#fff 0,#ddd 100%);*/
    /*background: linear-gradient(top,#fff 0,#ddd 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);*/
    /*border-bottom: 1px solid #ccc;*/
    /*border-left: 1px solid #eee;*/
    /*border-right: 1px solid #eee;*/
    /*-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);*/
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.1);*/

    /*background: #2D3538;*/
    /*background: #333;;*/
    /*background: rgba(45,45,45,.7);*/
    /*color: #f8f8f8;*/
    /*text-shadow: 0 1px 4px rgba(0,0,0,.4);*/
    /*-moz-border-radius: 9px;*/
    /*-webkit-border-radius: 9px;*/
    /*border-radius: 9px;*/
    /*-moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1) inset, 0 2px 6px 0 rgba(0,0,0,.2);*/
    /*-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1) inset, 0 2px 6px 0 rgba(0,0,0,.2);*/
    /*box-shadow: 0 5px 5px 0 rgba(0,0,0,.1) inset, 0 2px 6px 0 rgba(0,0,0,.2);*/
    /*background: rgba(46,46,46,0.35);*/

    /*background-color: rgba(0,0,0,0.3);*/
    /*background: #333333;*/
    /*background: rgba(0, 0, 0, 0.75);*/

    /*background-color: rgba(0,0,0,0.3);*/
    background-color: rgba(0,0,0,0.4);
    /*background: #333333;*/

    border-radius: 4px;
}
#login .username {
    color: #333;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 276px;
    font-size: 13px;
}
#login .password {font-size: 13px;}

#login .username .text-input {
    width: 100%;
}

#login-signup-wrapper .text-input {
    height: 30px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
}
#password-wrapper {
    left: 12px;
    position: absolute;
    top: 48px;
    width: 276px;
}

.flex-table-primary {
    width: 99%;
    padding-right: 5px;
}

.flex-table-secondary {
    width: 1%;
    max-width: 1%;
}
.flex-table-form {
    float: left;
    width: 100%;
}
.password {
    width: 150px;
}

#signup {
    height: auto;
    position: absolute;
    top: 121px;
    width: 300px;
}
#signup h2 {
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    line-height: 20px;
}
#signup input {
display: block;
height: 30px;
margin: 6px auto;
width: 276px;
}

#signup button {
    bottom: 12px;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    right: 12px;
    margin: 6px;
    margin-right: 12px;
}

h1{
    color: #73A550;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    margin-right: 25px;
    display: block;
    float: left;
    font-family: 'Irish Grover', cursive;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Irish Grover', cursive;
    margin: 0;
    color: #000;
}
h4{color: #000;}
a {
    color: #58B84E;
}
a:hover {color: #58B84E}

header {color: #58B84E;}
nav ul {
    float: right;
    font-family: 'Irish Grover', cursive;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
nav ul li {
    float: left;
    list-style: none outside none;
}

nav ul li a {
    padding: 5px 20px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ffffff;
}
section, header {
    width: 865px;
    margin: 20px auto;
    position: relative;
}
section {margin: 10px auto;}
#timeline{
    width: 65%;
    float: left;
    background-color: #ffffff;
    border-radius: 6px 0px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
.header_inner {
    min-height: 20px;
    padding: 12px;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 50%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f6f6f6), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 50%,#e3e3e3 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 50%,#e3e3e3 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 50%,#e3e3e3 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 50%,#e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );
    /*background-color: rgba(0,0,0,0.8);*/
}
.btn_tweet_wrapper {
    border-radius: 5px 5px 5px 5px;
    float: right;
    cursor: pointer;
    height: 18px;
    width: 22px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 4px 5px 10px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    background-color: #58B84E;
    border: 1px solid #5E8D3D;
    color: #FFFFFF;
    background: url("../images/overlay_gloss_28.png") repeat-x scroll left -3px #58B84E;
}
.btn_tweet_wrapper:hover {
    background-color: #73A550;
}
.tweet_wrapper {
    border-bottom: 1px solid #E8E8E8;
    padding: 9px 12px;
}
.tweet_wrapper:hover {
    background-color: rgba(0,0,0,0.4);
}
.last {
    border-bottom: none;
}
.tweet_wrapper img {
    border-radius: 6px 6px 6px 6px;
}
img.avatar {
    float: left;
}
a.name {
    font-size: 18px;
    font-family: Lobster, Arial, sans-serif;
}
.content {
    margin-left: 58px;
    color: #fff;
}
.content p {
    text-align: justify;
}
.time {
    color: #999999;
}
.username {
    color: #999999;
}
.name {
    color: #58B84E;
}
.top_border {
    border-top: 1px solid #c7c7c7;
}
#dashboard {
    width: 35%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0 14px 0;
    background-color: rgba(0,0,0,0.7)
}
.tweet_box_bg {
    background-color: #f4f4f4;
}
.tweet_box {
    border-color: #cccccc;
    line-height: 18px;
    padding: 6px 8px 5px;
    border-radius: 6px 6px 6px 6px;
}
.box {
    margin: 24px 24px 24px 26px;
    background-color: #272828;
    border: 1px solid #181818;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
    color:#fefefe;
    font-family: Arial,sans-serif;
    text-indent:7px;
    text-shadow:0 1px 0 #000;
    padding: 12px;
    font-size: 12px;
    line-height: 18px;
    background-color: rgba(0,0,0,0.1);
}
.box li {
    float: left;
    padding-right: 8px;
}
.box li a {
    text-decoration: none;
}
.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}
.modal-footer {
    margin-top: 0;
}
/*-- END Home ================================================================ --*/

/*-- Buttons ================================================================ --*/
.button_green {
    font-size: 14px;
    color: #ffffff;
    line-height: 14px;
    padding: 7px 10px;
    /*margin-top: 10px;*/
    /*float: right;*/
    background: -moz-linear-gradient(top,#a6cf04 0%,#59b84e);
    background: -webkit-gradient(linear, left top, left bottom,from(#a6cf04),to(#59b84e));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid #7eb800;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 14px rgba(255,255,190,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 14px rgba(255,255,190,0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    cursor: pointer;
    font-weight: bold;
}
#timeline .button_green{
    float: right;
    margin-top: -24px;
}
.button_white {
    font-size: 14px;
    color: #94b901;
    line-height: 14px;
    padding: 4px 15px;
    font-size: 14px;
    background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 50%,#d6d6d6);
    background: -webkit-gradient(linear, left top, left bottom,from(#ffffff),color-stop(0.50, #ffffff),to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow: 0 -1px 1px rgba(207, 207, 207, 0.25);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    cursor: pointer;
    font-weight: bold;
    float: right;
}
