/* -- hide/show the element display -- */
.hide{display:none;}
.show{display:inline;}

/* -- floating and align classes were missing from the previous version of css stylesheets */
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.clearLeft {
    clear: left;
}
.clearRight {
    clear: right;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignBottom {
    vertical-align:bottom;
}
.alignMiddle {
    vertical-align:middle;
}
.alignTop {
    vertical-align:top;
}
.displayBlock {
    display: block;
}
/* -- pointer cursor -------------  */
.pointer{
    cursor:pointer;
}