<header>
    <div id="topbar">
        <h1>Chitter</h1>
        <form action="#" method="get" id="search_form">
            <fieldset>
                <input type="text" name="search" class="search-input "/>
                <!--<input type="submit" value="search" />-->
            </fieldset>
        </form>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Connect</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Me</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div id="timeline">
        <div class="header_inner">
            <h2>Tweets</h2>
            <div class="btn_tweet_wrapper">
                <button class="btn_tweet" type="button" />
            </div>
            <!--<input id="edit-submit-presentations" class="form-submit" type="submit" value="Search" name="">-->
        </div>
        <ul>
            <!--<li class="tweet_wrapper tweet_box_bg">-->
            <!--<form method="POST">-->
            <!--<textarea  class="tweet_box">-->
            <!--dsa-->
            <!--</textarea>-->
            <!--<button>Tweet</button>-->
            <!--</form>-->
            <!--</li>-->
            <li class="tweet_wrapper top_border">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
            <li class="tweet_wrapper">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
            <li class="tweet_wrapper">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
            <li class="tweet_wrapper">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
            <li class="tweet_wrapper">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
            <li class="tweet_wrapper last">
                <img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href="#" class="name">Kermit</a> <span class="username">@username</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>
                    <span class="time clear">2h</span>
                </div>
            </li>
        </ul>
    </div>
    <div id="dashboard">
        <div class="box" style="height: 126px;">
        </div>

        <div class="box">
            <ul class="clearfix">
                <li>&copy; 2013 Chitter</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Advertisers</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Businesses</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</section>