<div class="login_wrapper">
    <div id="sign_up" >
        <h1 class="welcome">Welcome to Chitter!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="button_green">Sign Up</button>
    </div>
    <div id="login">
        <h2 class="welcome">Login Form</h2>

        <form method="post" name="login" id="form_login" action="">
            <input name="email" class="input" type="text" value="Email Address">
            <input name="password" class="input" type="password" id="Password1" value="Password">
            <input name="submit" class="button_white" type="button" value="Login" style="display: inline;" >
            <a href="#/home/">Fogot login info?</a>
        </form>
    </div>
</div>