<p ng-show="loginErrorMessage">Invalid username or password<p>
<div class="login_wrapper">
    <div id="sign_up" >
        <h1 class="welcome">Welcome to Chitter!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="button_green">Sign Up</button>
    </div>
    <div id="login">
        <h2 class="welcome">Login Form</h2>

        <form method="post" name="login" id="form_login" action="" novalidate ng-submit="loginUser()">
            <input ng-model="email" class="input" ng-class="{'alert-error': loginErrorMessage}" type="text" value="Email Address">
            <input ng-model="password" class="input"  ng-class="{'alert-error': loginErrorMessage}" type="password" id="Password1" value="Password">
            <input type="submit" value="Login" class="button_white" style="display: inline;">
            <!--<button class="button_white" style="display: inline;" >Login</button>-->
            <a href="#/home/">Fogot login info?</a>
        </form>
        <a href="/users">Get users from mongolab</a>
    </div>
</div>