<section>
    <div id="login-signup-wrapper">
        <div id="login">
            <form method="post" name="login" id="form_login" action="" novalidate ng-submit="loginUser()">
                <div class="username">
                    <input ng-model="username" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Username or email" />
                </div>
                <table id="password-wrapper">
                    <tbody>
                        <tr>
                            <td class="flex-table-primary">
                                <div class="password flex-table-form">
                                    <input ng-model="password" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="password" placeholder="Password">
                                </div>
                            </td>
                            <td class="flex-table-secondary">
                                <button type="submit" class="btn button_green">Login</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--<button class="button_white" style="display: inline;" >Login</button>-->
                <!--<a href="#">Forgot login info?</a>-->
            </form>
        </div>
        <div id="signup">
            <h2>Sign up for Chitter</h2>
            <form method="post" name="register" id="form_register" action="" novalidate ng-submit="registerNewUser()">
                <input id='register_name' ng-model="registerUserForm.name" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Name" autofocus >
                <input id='register_username' ng-model="registerUserForm.username" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Username" autofocus>
                <input id='register_email' ng-model="registerUserForm.email" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Email">
                <input id='register_password' ng-model="registerUserForm.password" class="text-input"  ng-class="{'alert-error': loginErrorMessage}" type="password" placeholder="Password">
                <button type="submit" value="Login" class="btn button_white">Sign up</button>
            </form>
        </div>
    </div>
</section>
