<section>
    <div id="login-signup-wrapper">
        <div id="login">
            <form method="post" name="login" id="form_login" action="" novalidate ng-submit="loginUser()">
                <div class="username">
                    <input ng-model="username" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Username or email" />
                </div>
                <table id="password-wrapper">
                    <tbody>
                        <tr>
                            <td class="flex-table-primary">
                                <div class="password flex-table-form">
                                    <input ng-model="password" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="password" placeholder="Password">
                                </div>
                            </td>
                            <td class="flex-table-secondary">
                                <button type="submit" class="btn button_green">Login</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--<button class="button_white" style="display: inline;" >Login</button>-->
                <!--<a href="#">Forgot login info?</a>-->
            </form>
        </div>
        <div id="signup">
            <h2>Sign up for Chitter</h2>
            <form method="post" name="register" id="form_register" action="" novalidate ng-submit="registerNewUser()">
                <input id='register_name' ng-model="registerUserForm.name" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Name" autofocus >
                <input id='register_username' ng-model="registerUserForm.username" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Username" autofocus>
                <input id='register_email' ng-model="registerUserForm.email" class="text-input" ng-class="{'alert-error': loginErrorMessage}" type="text" placeholder="Email">
                <input id='register_password' ng-model="registerUserForm.password" class="text-input"  ng-class="{'alert-error': loginErrorMessage}" type="password" placeholder="Password">
                <button type="submit" value="Login" class="btn button_white">Sign up</button>
            </form>
        </div>
    </div>
</section>
<!--<p ng-show="loginErrorMessage">Invalid username or password<p>-->
<!--<div class="login_wrapper">-->
    <!--<div id="welcome" ng-show='welcome'>-->
        <!--<h1 class="welcome">Welcome to Chitter!</h1>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
        <!--<button type="button" class="button_green" ng-click='showRegisterUserForm()'>Sign Up</button>-->
    <!--</div>-->
    <!--<div id="register" ng-show='registerUserForm.visible'>-->
        <!--<h1 class="welcome">Register</h1>-->
        <!--<form method="post" name="register" id="form_register" action="" novalidate ng-submit="registerNewUser()">-->
            <!--<label for="register_name">Name:</label>-->
            <!--<input id='register_name' ng-model="registerUserForm.name" class="input" ng-class="{'alert-error': loginErrorMessage}" type="text">-->
            <!--<label for="register_username">Username:</label>-->
            <!--<input id='register_username' ng-model="registerUserForm.username" class="input" ng-class="{'alert-error': loginErrorMessage}" type="text">-->
            <!--<label for="register_email">Email:</label>-->
            <!--<input id='register_email' ng-model="registerUserForm.email" class="input" ng-class="{'alert-error': loginErrorMessage}" type="text">-->
            <!--<label for="register_password">Password:</label>-->
            <!--<input id='register_password' ng-model="registerUserForm.password" class="input"  ng-class="{'alert-error': loginErrorMessage}" type="password">-->
            <!--<input type="submit" value="Login" class="button_white" style="display: inline;">-->
            <!--<button class="button_white" style="display: inline;" mg-click='hideRegisterUserForm()'>Cancel</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div id="login">-->
        <!--<h2 class="welcome">Login Form</h2>-->

        <!--<form method="post" name="login" id="form_login" action="" novalidate ng-submit="loginUser()">-->
            <!--<input ng-model="username" class="input" ng-class="{'alert-error': loginErrorMessage}" type="text" planceholder="Username">-->
            <!--<input ng-model="password" class="input"  ng-class="{'alert-error': loginErrorMessage}" type="password" id="Password1" placeholder="Password">-->
            <!--<input type="submit" value="Login" class="button_white" style="display: inline;">-->
            <!--&lt;!&ndash;<button class="button_white" style="display: inline;" >Login</button>&ndash;&gt;-->
            <!--<a href="#">Forgot login info?</a>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->