<header>
    <div id="topbar">
        <h1>Chitter</h1>
        <form action="#" method="get" id="search_form">
            <fieldset>
                <input type="text" name="search" class="search-input "/>
                <!--<input type="submit" value="search" />-->
            </fieldset>
        </form>
        <nav>
            <ul>
                <li><a href ng-click="homeClicked()">Home</a></li>
                <li><a href="#">Connect</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href ng-click="viewUser(user._id)">Me</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div id="timeline">
        <div class="header_inner">
            <h2>Tweets {{userToView.viewMessage}}</h2>
            <div class="btn_tweet_wrapper" ng-click="open()">
                Chitt
                <!--<button class="btn_tweet" type="button" ng-click="open()" />-->
            </div>
            <!--<input id="edit-submit-presentations" class="form-submit" type="submit" value="Search" name="">-->
        </div>
        <ul>
            <li class="tweet_wrapper" ng-class="{top_border: $first, last: $last}" ng-repeat="tweet in tweets | orderBy:creationDate:reverse">
                <img class="avatar" src="../../assets/images/wo2h8r0qy8d5lsxe5lgd_normal.png">
                <div class="content">
                    <a href ng-click="viewUser(tweet.user._id)" class="name">{{tweet.user.name}}</a> <span class="username">{{tweet.user.username}}</span>
                    <p>{{tweet.text}}</p>
                    <!-- TODO: need a filter to convert time to hours or minute -->
                    <span class="time clear">{{tweet.creationDate}}</span><br>
                    <a ng-show="tweet.canBeDeleted" class="time clear" href ng-click="deleteTweet(tweet._id)">Delete</a>
                </div>
            </li>


            <!--<li class="tweet_wrapper top_border">-->
                <!--<img class="avatar" src="images/wo2h8r0qy8d5lsxe5lgd_normal.png">-->
                <!--<div class="content">-->
                    <!--<a href="#" class="name">Kermit</a> <span class="username">@username</span>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in est orci, ac ultrices lorem. Sed convallis turpis ac enim convallis cursus. Cras tempor mi et urna interdum sed venenatis ipsum molestie <a href="#">buff.ly/17AYJF0</a></p>-->
                    <!--<span class="time clear">2h</span>-->
                <!--</div>-->
            <!--</li>-->

        </ul>
    </div>
    <div id="dashboard">
        <div class="box" style="height: 126px;">
            <img class="avatar" src="../../assets/images/wo2h8r0qy8d5lsxe5lgd_normal.png">
            <div class="content">
                <span class="name">Name: {{userToView.name}}</span><br>
                <span class="username">@{{userToView.username}}</span><br>
                <span class="username">Chitts: {{userToView.totalTweets}}</span><br>
            </div>
        </div>

        <div class="box">
            <ul class="clearfix">
                <li>&copy; 2013 Chitter</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Advertisers</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Businesses</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</section>



<div class="modal modal-content" modal="showModal">
    <form method="POST" action="" novalidate>
        <!--<input type="hidden" ng-model="tweet.user.id" ng-init="tweet.user.id='507f1f77bcf86cd799439011'" value="507f1f77bcf86cd799439011">-->
        <!--TODO: this information should be already on server as we are sending user_id-->
        <!-------------------------------------------------------------------------------->
        <button class="modal-close" type="button" ng-click="cancel()">
            <span class="icon close-medium">
                <span class="visuallyhidden">Close</span>
            </span>
        </button>
        <div class="modal-header">
            <h3>What's happening?</h3>
        </div>
        <div class="modal-body">

        <textarea id="tweetMessage" class="modal-tweet-box" ng-model="tweet.text"></textarea>
        <br />
        <div class="modal-footer">
            <!--<span class="tweet-counter">140</span>-->
            <button class="button_green" ng-click="addTweet(tweet);cancel();">Tweet</button>
        </div>
        </div>
    </form>
</div>

